*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-image: url(gambar/Back_Home.jpg);
	background-size: cover;
	background-position: cover;
	font-family: sans-serif;
	box-sizing: border-box;
}

.nav{
	background-color: #000;
	height: 60px;
	width: 100%;
	padding: 5px;
	font-size: 18px;
}

.container_nav{
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 150px;
	margin-right: 10px;
	list-style-type: none;
}

.container_nav ul li{
	margin-right: 50px;
	display: inline-block;

}

.container_logreg{
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 150px;
	margin-left: 10px;
	list-style-type: none;
}

.container_logreg ul li{
	display: inline-block;
	margin-right: 10px;
	color: #fff;
}

.nav ul li a{
	text-decoration: none;
	padding: 5px 15px;
	color: #fff;
	font-size: 18px;
	border: 1px solid transparent;
}

.aktif{
	color: #000;
	border: 1px solid transparent;
	padding: 5px 15px;
	font-size: 18px;
	background-color: #fff;
	border-radius: 4px;
}

.nav ul li a:hover{
	color: #000;
	background-color: #fff;
	border-radius: 4px;
}

.dropdown{
	color: #fff;
	border: 1px solid transparent;
	padding: 5px 15px;
	font-size: 18px;
	border-radius: 4px;
}
 .dropdown:hover{
 	color: #000;
	background-color: #fff;
	border-radius: 4px;
}

.sub-menu{
	display: none;
	background-color: black;
}

.sub-menu ul{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-left: 20px;

}

.nav ul li:hover .sub-menu{
	display: block;
	position: absolute;
	margin-top: 6px;
	margin-left: -30px;
} 


.nav ul li:hover .sub-menu ul{
	display: block;
	margin-top: 10px;
}

.nav ul li:hover .sub-menu ul a{
}